#navbar{
    background-color: blue;
    margin: auto;
    height: 25px;
    text-align: right;
}

p{
    margin-right: 25px;
    text-decoration: none;
    color: white;
}

.tabel{
    margin-top: 10px;
}